*{
    margin: 0;
    padding: 0;
}
li.limenu {
	float: left;
    padding: 5px 10px;
    list-style-type: none;
}
li.limenu:last-of-type {
	float: right;
}
div.wrapper-menu{
    width: 100%;
    background-color: #A64DFF;   
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
    margin: 20px 0;/*Отделил от верха*/
}
/*clearfix*/
div.wrapper-menu:after{
    content: '';
    display: table;
    clear: both;
}

ul.menu {
    width: 900px;
    margin: 0 auto;
    padding: 0 5px;/*Отлепил слева и справа текст*/
}
.limenu:hover{
	background: #EEEEEE;    
}
.limenu:hover>.amenu {
	color: #A2A2A5; 
}
.amenu {	
    font-family: Economica;
    font-weight: bold;    
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}