*{
    margin: 0;
    padding: 0;    
}
.clear::after{
    content: '';
    display: table;
    clear: both;
}

/*Adding Fonts*/
/*
font-family: 'Poiret One', cursive;
font-family: 'Open Sans', sans-serif;
*/
@font-face{
    font-family: 'Futura Bk BT';
    src: url('Fonts/FuturaBkBT.ttf');
}
@font-face{
    font-family: 'Futura Md BT';
    src: url('Fonts/FuturaMdBT.ttf');
}
/*Adding Fonts End*/

.wrapper {
	width: 1200px;
    margin: 0 auto;
    border: 1px solid gray;
}

/*Header*/
/*Logo*/
.logo{
    text-transform: uppercase;
    color: #3070a8;
    font-family: 'Futura Md BT', Arial, sans-serif;
    font-size: 36px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
}
.logo span{
    font-family: 'Futura Bk BT', Arial, sans-serif;
    color: #ee8129;
    text-transform: capitalize;
}
/**End Logo***/

/*Navigaton*/
nav{
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;   
}

.menu_item{
	display: inline-block;
    text-transform: uppercase;
    
}
.menu_item a{
	text-decoration: none;
    color: #888c94;
}
a.active {
	color: #3070a8;
}
/*End Navigaton*/
