*{
    margin: 0;
    padding: 0;
}
.clearfix::after {
	content: "";
    display: table;
    clear: both;
}
body{
    background: url(../img/body_bg.jpg) no-repeat 50% 3px;
    color: white;
}
header{
    margin-bottom: 60px;
}
.container,
.main-container {	
	width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-navigation {
	width: 780px;
    float: left;
}
.user-block {
	width: 140px;
    float: right;
}
.index-logo {
    width: 368px;
	height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.features {
	margin-bottom: 80px;
}
.features-item {
	float: left;
    width: 300px;
    margin-right: 20px;
}
.features-item:last-child {
	margin-right: 0;
}
.index-content {
    margin-bottom: 35px;
	padding: 50px 80px;
}
.index-content-left {
	float: left;
    width: 380px;
}
.index-content-right {
	float: right;
    width: 300px;
}
.main-footer {
	margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer-contacts {
    margin-right: 60px;
	float: left;
    width: 320px;
}
.footer_social {
	float: left;
    width: 180px;
}
.footer-copyright {
	float: right;
    width: 180px;
}
input{
    width: 140px;    
}
input:nth-child(odd){
    margin-right: 20px;
}