a:hover{
text-decoration:none;
}
a[href*="http"]:link,
a[href*="http"]:visited{
    color: #f70;
}

a[href*="google"]:link,
a[href*="google"]:visited{
    color: #666;
}

[target="_blank"]:after{
    content: "\0021F1";
    position: absolute;
}
