:link[href*="http"] {
    color: #f70;
}

:link[href*="google"] {
    color: #666;
}

:link[target="_blank"]{
    text-decoration: none;
}
:link[target="_blank"]:after {
    content:  "\0021F1";
    text-decoration: none;
}
